@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: black;
    color: black;
    transition: all 0.2s;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    cursor: pointer;
    text-decoration: black;
}
.block{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 28px;
    margin-top: 10px
}
