.header
  padding: 20px 0
  height: 50px
  margin-bottom: 60px

.menu
  margin-top: 10px
  display: flex
  justify-content: center
  a
    margin-left: 20px

.content
  min-height: 80vh

.footer
  height: 50px